<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Dimas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_app/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="text-danger"><em>Lannisters send their regards!</em></h1>
        <p class="text-danger"><strong><em><u>Lion doesn't concern himself with the opinion of a sheep.</u></em></strong></p>
    </div>
</body>
</html>