<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Новая новость</title>
</head>
<body>
    <h2>Здравствуйте, {{ user.username }}!</h2>
    <p>В категории "{{ category.name }}" появилась новость:</p>
    <h3>{{ item.title }}</h3>
    <p>{{ item.content|truncatechars:200 }}</p>  <!-- Используем item вместо post -->
    <a href="http://{{ domain }}{% url 'news_detail' item.id %}">
        Читать полностью
    </a>
    <p>
        <small>
            <a href="http://{{ domain }}{% url 'subscribe_category' category.id %}">
                Отписаться от этой категории
            </a>
        </small>
    </p>
</body>
</html>